.container {
  width: 60%;
  height: 3rem;
  background: var(--secondary);
  margin: auto;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 0 1rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .plus{
    width: 1.8rem;
    height: 1.8rem;
    line-height: 100%;
    background: var(--blue);
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, .8);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
  
    &:hover{
      border: 1px solid rgba(0, 0, 0, .1);
    }
  }

  .searchContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
  }

  .searchInput {
    width: 500px;
    height: 2.2rem;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    color: #000000;
    font-size: 1.2rem;
    padding-left: 2.2rem;

    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}


.board {
  width: 60%;
  min-height: 78vh;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
}