.container {
  width: 60%;
  height: 3rem;
  background: rgba(255, 255, 255, 0.4);
  margin: auto;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .filter {
    width: 500px;
    height: 2.2rem;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    color: #000000;
    font-size: 1.2rem;
    padding-left: 1rem;

    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}


.board {
  width: 60%;
  min-height: 75vh;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
}