.container {
  min-width: calc((100% / 4) - 1.5rem);
  max-width:  calc((100% / 4) - 1.5rem);
  min-height: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 1rem 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .header {
    width: 6rem;
    height: 2rem;
    color: #000000;
    background: rgba(255, 255, 255);
    margin-top: -2rem;
    margin-left: -3rem;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plus{
    width: 1.2rem;
    line-height: 100%;
    background: green;
    margin-left: 8rem;
    position: absolute;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, .8);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{

    border: 1px solid rgba(0, 0, 0, .1);
    }
  }
}
