.container {
  min-width: calc((100% / 4) - 1.5rem);
  max-width:  calc((100% / 4) - 1.5rem);
  min-height: 100%;
  background: var(--secondary);
  border-radius: 6px;
  padding: 1rem 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .header {
    width: 6rem;
    height: 2rem;
    color: #000000;
    background: var(--secondary);
    margin-top: -2rem;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
