.container {
  min-width: 85%;
  max-width: 85%;
  box-sizing: border-box;
  height: 10rem;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-left: 3px solid rgb(213, 202, 3);

  .title {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    line-height: 120%;
    box-sizing: border-box;
    padding-bottom: 1rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .statusEstimate {
    display: flex;
    justify-content: space-between;

    .select {
      width: 4rem;
      height: 1.5rem;
      font-size: 0.9rem;
      border-radius: 4px;
      padding: 0.1rem;
      border: 1px solid rgba(0, 0, 0, 0.3);

      .option {
        background-color: #f2f2f2;
        color: #333;
        font-size: 14px;

        &:checked {
          background-color: #007bff;
          color: #fff;
          font-weight: bold;
        }
      }
    }

    .effort {
      .estimate {
        width: 1.6rem;
        text-align: right;
        padding: 0 0.2rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
  
        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .effort{
    display: flex;
    align-items: center;

    label {
      font-size: 12px;
      margin-right: .6rem;
    }
  }

  .dueDate{
    display: flex;
    align-items: center;

    label {
      font-size: 12px;
    }

    .date {
      margin-left: .6rem;
      width: 8rem;
      height: 1.7rem;
      padding: .8rem .5rem;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.3);
  
      &:focus {
        outline: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  } 
}
